<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>注册新用户 - 用户中心</title>
		<link rel="stylesheet" href="css/stylepopup.css" />

	</head>
	<body>
		<div id="wrapper">
			<h1>注 册 <span>欢迎加入北溟逐日</span></h1>
			<div id="signin-wrap">
				<form id="signin">
					<div class="r-item" id="username">
						<label>账号</label>
						<input type="text" name=""/>
						<div class="tip">2至10个字符</div>
					</div>
					<div class="r-item" id="passwd">
						<label>密码</label>
						<input type="password" name=""/>
					</div>
					<div class="r-item">
						<label>昵称</label>
						<input type="text" name=""/>
					</div>
					<div class="f-bt">
						<input type="submit" value="注 册"/>
					</div>
				</form>
				<div id="advise-regi">
					<em>O R</em>
					<span>已经有账号了？</span>
					<button>前往登录</button>
				</div>
			</div>
		</div>
		
	</body>
</html>
