<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title>登录 - 用户中心</title>
		<link rel="stylesheet" href="css/stylepopup.css" />

	</head>
	<body>
		<div id="wrapper">
			<h1>登 录 <span>欢迎回到北溟逐日</span></h1>
			<div id="signin-wrap">
				<form id="signin">
					<div class="f-item" id="username">
						<label>账号</label>
						<input type="text" name="" placeholder="账号"/>
					</div>
					<div class="f-item" id="passwd">
						<label>密码</label>
						<input type="password" name="" placeholder="密码"/>
					</div>
					<div class="f-att">
						<input type="checkbox" name="" />
						<label>下次自动登录</label>
					</div>
					<div id="forg"><a href="##">找回密码？</a></div>
					<div class="f-bt">
						<input type="submit" value="登 录"/>
					</div>
				</form>
				<div id="advise-regi">
					<em>O R</em>
					<span>同学，你还没有账号？</span>
					<button>立即注册</button>
				</div>
			</div>
		</div>
		
	</body>
</html>
